:root{
  font-size: 10px;
  font-family: 'Quicksand', sans-serif;
}

body{
  margin: 0;
}

#loader{
  position: absolute;
  left: 50vw;
  top: 50vh;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 6px solid #f3f3f3;
  border-top: 4px solid #3498db;
  animation: spin 1s linear infinite;
}
.container{
  margin: auto;
}
.animate-bottom {
  position: relative;
  animation-name: animatebottom;
  animation-duration: 1s
}

@keyframes spin{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#about{
  margin: 0 auto 0 auto;
  min-height: 100vh;
}

#skills{
  margin: 0 auto 0 auto;
  min-height: 100vh;
}

#contact{
  margin: 0 auto 0 auto;
  min-height: 100vh;
}
.section{
  display: flex;
  align-content: center;
  justify-content: space-around
}

.banner{
  transition-property: all;
  transition-duration: 0.3s;
  padding: 10px;
  background-color: #f1f3f5;
  background-image: url("./images/about_bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.heading button{
  background: transparent;
  border: 2px solid grey;
  border-radius: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  padding: 16px 28px;
  transition-duration: 0.4s;
  color: whitesmoke;

}

.heading button:hover{
  background-color: steelblue;
  color: white;
}

.banner img{
  margin: auto;
  text-align: center;
  width: 20%;
  height: 40%;
  border-radius: 50%;
}
.about-me{
  margin: 2vw auto 0 auto;
  padding: 10px;
  font-size: 3em;
  text-align: center;
  justify-content: center;
}

.heading{
  align-items: center;
  margin:auto;
  margin-left: 0%;
  padding-left: 0;
  font-size: 5em;
  line-height: 0.1em;
  z-index: 1;
}

.navbar ul{
  list-style: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  font-size: 2em;
}

.navbar ul li{
  margin:auto;
}

.navbar ul li a{
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar ul li a:hover{
  background-color: #111;
}

.cards{
  display: flex;
  flex-wrap: wrap;
}

.skill-card{
  margin: 1em auto auto auto;
  padding: 0.5em;
  width: 20%;
  height: 230px;
  border: 0.5px solid darkgray;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  background-color:whitesmoke;
}

.card-heading{
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 0.6em;
  overflow: hidden;
}

.skill-card:hover{
  box-shadow: 6px 6px 8px lightgray;
  z-index: 1;
}
.card-logo{
  margin: auto;
}
.card-logo img{
  height: auto;
  width: 100%;
  max-height: 5em;
  max-width: 4em;
}

.skill-score{
	position: relative;
	background: #555;
	border-radius: 25px;
  height: 0.25em;
  margin-top: auto;
}
.skill-score span{
  display: block;
  height: 100%;
  background-color: rgb(43,194,83);
  position: relative;
  overflow: hidden;
}

#projects{
  margin: 0 auto 0 auto;
  min-height: 100vh;
}

.project-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card{
  display: flex;
  margin: 0.3em auto 0 auto;
  width: 80%;
  border: 1px solid darkgray;
  max-height: 20%;
  background-color: whitesmoke;
}
.project-card-image{
  margin-left: auto;
  width:40%;
}

.project-info{
  margin: auto;
  width:60%;
  padding: 0.4em;
}

.project-info-heading{
  font-size: 0.8em;
  /* font-size: 0.6em; */
  overflow: hidden;
  margin-top: 0;
  text-transform: capitalize;
}

.project-card-image img{
  height: 100%;
  width: 100%;
}

#contact form{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 50%;
  width: 30%;
  margin: auto;
  padding: 1em;
  border: 1px solid #f3f3f3;
  box-shadow: 4px 4px 8px lightgray;
  border-radius: 0.5em;
}

input,textarea{
  margin-top: 10px;
  z-index: 1;
  padding: 0.5em;
}
input{
  height: 3em;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition-duration: 0.3s;
  border-radius: 4px;
}
input:focus,textarea:focus{
  outline: none !important;
  box-shadow: 0 0 4px steelblue;
}

#contact form button{
  margin-top: 1em;
  background: transparent;
  border: 1px solid grey;
  border-radius: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  padding: 16px 28px;
  transition-duration: 0.4s;
}

#contact form button:hover{
  background-color: steelblue;
  color: white;
}

.contact-footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-info p{
  word-break: break-all;
}
.contact-footer a i{
  flex:1 1 auto;
  text-align:center;
  margin:0 10px 0 10px;
  color: black;
}
.footer{
  bottom: 0;
  left:0;
  width: 100%;
  background-color: lightgray;
  text-align: center;
  color: black;
  position: relative;
  font-size: 1.2em;
  margin:0;
}
@media screen and (max-width:415px){
  .navbar ul{
    list-style: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 2em;
  }
  .banner img{
    display: none;
  }
  .heading {
    font-size: 5em;
    line-height: 0.1em;
    z-index: 1;
}
.heading button{
  background: transparent;
  border: 2px solid grey;
  border-radius: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  padding: 16px 28px;
  transition-duration: 0.4s;
  color: whitesmoke;
}
.heading button:hover{
  background-color: transparent;
  color: white;
}

.skill-card{
  width:50%;
}
.navbar ul li a:hover{
  background-color: #333;
}
.project-card{
  flex-direction: column-reverse;
}
.project-card-image{
  width:100%;
}
#contact form{
  width:60%;
}
}

@media screen and (max-width:768px) and  (min-width:416px){
  .project-card{
    flex-direction: column-reverse;
  }
  .project-card-image{
    width:100%;
  }
  .skill-card{
    width:30%;
  }
}